<!--<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1>What the heck is Hakka Stack?</h1>
            <p class="lead">
                Get overview of:
            </p>
            <ul>
                <li>projects done in CN</li>
                <li>technologies used</li>
                <li>people working on projects</li>
                <li>skills our people have with technologies</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-4 columns">
        <div class="panel clearfix">
            <button class="tiny round primary right" ng-click="addProject()">Add</button>
            <h3><a ui-sref="projects">Projects</a></h3>
            <li ng-repeat="project in projects | limitTo: 10">
                <div>
                    <a ui-sref="project({'projectId' : project.id})">
                        <strong>{{project.name}}</strong>
                    </a>
                </div>
                <div>
                    <i>{{project.description}}</i>
                </div>
            </li>
        </div>
    </div>
    <div class="large-4  columns">
        <div class="panel">
            <button class="tiny round primary right" ng-click="addTechnology()">Add</button>
            <h3>Technologies</h3>
            <ul>
                <li class="no-dot" ng-repeat="tech in technologies | limitTo: 10 | orderBy: 'name'"><img width="30px" ng-src="{{tech.icon}}" class="technology-icon">{{tech.name}}</li>
            </ul>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="panel">
            <h2>People</h2>
        </div>
    </div>
</div>-->

<div>{{ titles }}</div>