<h2>Add new project</h2>
<form>
    <div class="row">
        <div class="large-12 columns">
            <label>Project name
                <input type="text" placeholder="Enter project name"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>Project description
                <textarea placeholder="Enter project description"></textarea>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <label>Used technologies
            </label>
        </div>
        <div class="large-10 columns tech-list">

            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" placeholder="Add technology to project">
                </div>
                <div class="small-2 columns">
                    <a href="#" class="button postfix success">Select</a>
                </div>
            </div>


            <div data-alert class="selected-technology">
                Angular
                <a href="#" class="close">&times;</a>
            </div>
            <div data-alert class="selected-technology">
                Spring
                <a href="#" class="close">&times;</a>
            </div>
            <div data-alert class="selected-technology">
                CoolFeature Generator
                <a href="#" class="close">&times;</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="large-2 columns">
            <label>People on project
            </label>
        </div>
        <div class="large-10 columns tech-list">

            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" id="right-label" placeholder="Add person to project">
                </div>
                <div class="small-2 columns">
                    <a href="#" class="button postfix success">Select</a>
                </div>
            </div>


            <div data-alert class="selected-technology">
                Bob Stalmach
                <a href="#" class="close">&times;</a>
            </div>
            <div data-alert class="selected-technology">
                Vit Koma
                <a href="#" class="close">&times;</a>
            </div>
            <div data-alert class="selected-technology">
                Martin Dobias
                <a href="#" class="close">&times;</a>
            </div>
        </div>
    </div>
</form>

<hr>
<button type="submit" class="small">Create new project</button>
<a class="button secondary small" ng-click="cancel()" aria-label="Close">Cancel</a>
<a class="close-reveal-modal" ng-click="cancel()" aria-label="Close">&#215;</a>